.card1 {
  margin-top: 60px;
  width: 420px;
  height: 665px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.05);
}

.img1 {
  width: 420px;
  height: 344px;
  flex-shrink: 0;
  border-radius: 20px 20px 0px 0px;
}

.high {
  display: flex;
  margin-top: -320px;
}

.komfort {
  border: none;
  gap: 20px;
  color: #402D01;
  margin-left: 25px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.753);
}

.heart {
  margin-left: 141px;
  padding: 1px 5px;
  padding-bottom: 2px;
  border: none;
  border-radius: 2px;
  object-fit: coverd;
}

.som {
  margin-left: 25px;
  color: #FFF;
  font-family: Gilroy;
  font-size: 17px;
  font-weight: 900;
}

.btn5 {
  color: #FFF;
  font-family: Gilroy;
  font-size: 19px;
  font-weight: 700;
  display: flex;
  padding: 3px 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 5px;
  border-radius: 6px;
  background: var(--1, #E2AC1D);
  width: 200px;
  height: 30px;
  border: none;
}

.low {
  display: flex;
  margin-top: 220px;
  gap: 28px;
}

.divs {
  margin-left: 25px;
  margin-bottom: 20px;
  gap: 15px;
  display: flex;
}

.div1 {
  width: 118px;
  height: 8px;
  border-radius: 5px;
  background: #FFF;
}

.div2 {
  width: 118px;
  height: 8px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.50);
}

.andijon1 {
  margin-left: -260px;
  color: var(--1, #E2AC1D);
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
}

.komolon {
  margin-left: -240px;
  color: #000;
  font-family: Gilroy;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}

.div_2 {
  color: #000;
  font-family: Gilroy;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  gap: 68px;
  margin-left: 25px;
}

.div_3 {
  color: #000;
  font-family: Gilroy;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  gap: 132px;
  margin-left: 28px;
}

.dogovor {
  color: var(--4, #100B00);
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 600;
  float: left;
  margin-left: 20px;
}

.Подробнее {
  width: 370px;
  padding: 15px 130px;
  border-radius: 5px;
  background: #FED46A;
  margin-left: 28px;
  font-size: 20px;
  font-weight: 500;
  width: 370px;
  border: none;
}

.cards {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 1350px;
}

.btn_div {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.span1 {
  color: gold;
  margin-right: 5px;
}

.Mein__btn_litle{
  width: 240px;
  height: 50px; 
  margin-top: 60px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
  background-color: #E2AC1D;
  border-radius: 8px;
  border: none;
  color:  #402D01;
  box-shadow: 0px 5px 5px 0px;
}