.header {
    width: 100%;
    position: absolute;
    margin: 0 auto;

}

nav {
    // margin: 0px 180px auto 180px;
    margin: 0 auto;
    margin-left: 200px;
    margin-top: 35px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    padding: 13px 10px 11px 30px;
    position: relative;
    // z-index: ;
    background-color: rgb(226, 226, 226);
    width: 1300px;
    margin-left: 5px;
}

.nav__logo {
    // width: 300px;
    // display: flex;
    // justify-content: space-around;
    // align-items: center ;
    text-align: center;
    text-decoration: none;
    color: #E2AC1D;
    margin-top: -13px;
    margin-right: 350px;
}

.nav__titl {
    margin-top: 21px;
    margin-left: -8px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-top: 13px;
}

.nav__item {
    margin-left: 40px;

    a {
        color: black;
        text-decoration: none;
    }

    color: black;

}

.form-select {
    border: none;
    background-color: transparent;
}

.uzs {
    border: 1px solid #E2AC1D;
    padding: 5px 10px;
    border-radius: 4px;
}